<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            <div class="col-md-6">
                <form #f="ngForm" (ngSubmit)="save(f.value)">
                    <div class="from-group mb-3">
                        <label for="title">Title</label>
                        <input #title="ngModel" [(ngModel)]="product$.title" name="title" type="text" id="title" class="form-control" required>
                        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                            Title is required !
                        </div>
                    </div>
                    
                    <div class="from-group">
                        <label for="price">Price</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input #price="ngModel" [(ngModel)]="product$.price" name="price"  type="number" id="price" class="form-control" required [min]="0">
                        </div>
                        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                            <div *ngIf="price.errors?.required">Price is required !</div>
                            <div *ngIf="price.errors?.min">Price should be 0 or higher !</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select #category="ngModel" [(ngModel)]="product$.category" name="category" id="category" class="form-control" required>
                            <option value=""></option>
                            <option *ngFor="let c of categories$" >
                                {{ c.payload.val().name }}
                            </option>
                        </select>
                        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                            Category is required !
                        </div>
                    </div>
                    <div  class="form-contgrouprol">
                        <label for="imageUrl">Image URL</label>
                        <input #image="ngModel" [(ngModel)]="product$.imageUrl" name="imageUrl"  type="text" id="imageUrl" class="form-control" required url>
                        <div class="alert alert-danger" *ngIf="image.touched && image.invalid">
                            <div *ngIf="image.errors?.required">ImageUrl is required !</div>
                            <div *ngIf="image.errors?.url">Please enter a valid URL!</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">save</button>
                    <button type="button" (click)="delete()" class="btn btn-danger">delete</button>
                </form>
            </div>
            <div  class="col-md-6">
                <div class="card" >
                    <img *ngIf="title.touched"  [src]="image.value" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">{{ product$.title }}</h5>
                      <p class="card-text">{{ product$.price | currency : 'USD' : true }}</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

