<div class="row productMaogin">
    <div class="col-9">
        <div class="row row-cols-2 ">
            <ng-container *ngFor="let product of filterProducts; let i = index">
                <div  class="col justify-content-center">
                    <product-card [shopping-cart]="cart" [product]="product"></product-card>
                </div>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
    <div class="col">
        <div class="sticky-top">
            <category-filter [category]="category"></category-filter>
        </div>
        
    </div>
    <!--  -->
    <!-- <div class="col-3">
        <div class="list-group">
            <a routerLink="/"
            [class.active]="!category" 
            class="list-group-item ">
                All Categories
            </a>
            <a *ngFor="let c of categories$ | async" 
            routerLink="/"
            [queryParams]="{ category: c.key }"
            [class.active]="category === c.key"
            class="list-group-item ">
                {{ c.payload.val().name }}
            </a>
        </div>
    </div> -->
    
</div>



